* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    color: #000;
    background-color: #fff;
}

header {
    margin: 0 auto;
    width: 100%;
}

h1 {
    margin: 16px auto;
    width: 100%;
    min-width: 320px;
    color: darkblue;
    font-weight: 700;
    text-align: center;
    font-size: 2rem;
}

form {
    width: 650px;
    margin: 16px auto;
    padding: 16px;
    background-color: lightgray;
    border: 1px solid darkgray;
    border-radius: 4px;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid darkgray;
}

legend {
    padding: .5rem;
    color: darkblue;
    font-size: 1.3rem;
}

label,
input,
select,
textarea {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input,
select,
textarea {
    font-size: 1.1rem;
    padding: .5rem;
}

input[type="checkbox"] {
    width: 24px;
    height: 24px;
    vertical-align: bottom;
}

button {
    padding: 8px 16px;
    font-weight: 700;
    margin: .5rem auto;
    background-color: darkblue;
    color: white;
    font-size: 1.2rem;
    border: 1px white solid;
    border-radius: .5rem;
    width: 25%;

}

button:hover {
    background-color: white;
    color: darkblue;
    border: 1px darkblue solid;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 1rem;
    color: gray;
    border-top: 1px solid lightgray;
    padding-top: 1rem;
}

.form-item {
    display: grid;
    align-items: center;
    margin: 0;
}

.column1 {
    grid-template-columns: 3fr 1.25fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    grid-column: 2/3;
}

label.column1 {
    grid-column: 1/2;
}

label.column2 {
    grid-column: 1/2;
}

label[for="feedback"] {
    text-align: center;
    padding: .5rem;
}