:root {
    --primary-border: 1 px solid black;
    --secondary-border: 1px solid rgb(0 0 0 / .1);
    --primary-color: #1E2F6F;
    --secondary-color: #E3E9FA;
    --primary-text-color: #1C1C1C;
    --secondary-text-color: white;
    --paragraph-text-color: #1C1C1C;
    --box-shadow: 0 0 30px gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--primary-color);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: var(--secondary-text-color);
    padding: 20px;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 1rem;
}

main {
    grid-column: 2/4;
    margin: 1rem 0 0 1rem;
}

aside {
    width: 100%;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: stretch;
}

h1 {
    color: var(--primary-text-color);
    padding: 10px;
    border-bottom: var(--primary-border);
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: var(--primary-border);
    padding: 2px;
    box-shadow: var(--box-shadow);
    margin: 0 0 10px 10px;
}

p {
    padding: 10px;
}

aside {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

aside img {
    width: 100%;
    height: auto;
    box-shadow: var(--box-shadow);
}

aside h2 {
    position: absolute;
    top: 6.2rem;
    left: .2rem;
    padding: 1rem;
    /* background-color: rgb(0 0 0 / .5); */
    color: white;
}

aside p {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}

footer {
    margin-top: 20px;
    border-top: var(--secondary-border);
    text-align: center;
}

ul.box {
    padding-left: 3rem;
}

/* Class Selectors */

.box {
    margin: 20px 0 0 0;
    border: var(--secondary-border);
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
}