:root {
    --primary-border: 1 px solid black;
    --secondary-border: 1px solid rgb(0 0 0 / .1);
    --primary-color: darkblue;
    --secondary-color: lightblue;
    --primary-text-color: darkblue;
    --secondary-text-color: white;
    --paragraph-text-color: black;
    --box-shadow: 0 0 30px gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: var(--secondary-text-color);
    display: block;
    padding: 20px;
}

main {
    max-width: 800px;
}

h1 {
    color: var(--primary-text-color);
    padding: 10px;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: var(--primary-border);
    padding: 2px;
    box-shadow: var(--box-shadow);
    margin: 20px;
}

p {
    padding: 10px;
}

aside {
    width: 800px;
    text-align: center;
    position: relative;
}

aside img {
    width: 400px;
    height: auto;
    box-shadow: var(--box-shadow);
}

aside h2 {
    position: absolute;
    top: 14rem;
    left: 13.5rem;
    padding: 10px 10px;
    /* background-color: rgb(0 0 0 / .5); */
    color: white;
}

footer {
    margin-top: 20px;
    border-top: var(--secondary-border);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 20px;
    border: var(--secondary-border);
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
}