:root {
    --primary-border: 1 px solid black;
    --secondary-border: 1px solid rgb(0 0 0 / .1);
    --primary-color: darkblue;
    --secondary-color: lightblue;
    --primary-text-color: darkblue;
    --secondary-text-color: white;
    --paragraph-text-color: black;
    --box-shadow: 0 0 30px gray;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: var(--secondary-text-color);
    display: block;
    padding: 20px;
}

main {
    max-width: 800px;
}

h1 {
    color: var(--primary-text-color);
}

main img {
    width: 150px;
    height: auto;
    border: var(--primary-border);
    padding: 2px;
    box-shadow: var(--box-shadow);
}

p {
    padding: 0;
}

aside {
    width: 400px;
    margin: 0px;
    border: var(--secondary-border);
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: var(--secondary-border);
    text-align: center;
}