body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

header,
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
}

main {
    width: 70%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 10px;
}

picture {
    width: 100%;
    align-content: center;
}

img {
    width: 100%;
    height: auto;
    box-shadow: -2px 2px 30px #333;
}

section {
    background-color: #ddd;
    padding: 10px 20px;
    margin: 40px 0;
    border: 1px solid rgb(0 0 0 / 10%);
    font-size: .9rem;
}

section p {
    padding: 20px;
}

h2 {
    padding: 0 0 5px 0;
    border-bottom: 1px solid #333;
}

footer {
    font-size: 1.2rem;
}